{{define "content"}}<h2>About</h2>
<p>tut is a TUI for <a rel="noopener" href="https://joinmastodon.org/" title="Mastodon">Mastodon</a> with vim inspired
    keys.
    TUI is an acronym for text-based user interface, so tut
    runs in your terminal.
</p>
<p>
    <img src="/static/preview.png" alt="screenshot of tut">
</p>
<p>The program looks almost as this website.</p>
<h2>Features</h2>
<ul>
    <li>Keyboard driven</li>
    <li>Compose new toots in your <span class="highlight">$EDITOR</span></li>
    <li>Commands like <span class="highlight">:search</span> and <span class="highlight">:bookmarks</span>
    </li>
    <li>View media in your favorite programs. E.g. <span class="highlight">imv</span> for images and <span
            class="highlight">mpv</span> for videos</li>
</ul>
<h2>Install</h2>
<p>You can install tut in three ways</p>
<ol>
    <li>Use your <a href="/install#package-manager" title="Install with package manager">package manager</a></li>
    <li>Use <a href="/install#pre-built" title="Install with pre-built binaries">pre-built</a> binaries</li>
    <li><a href="/install#yourself" title="Build it yourself">Build it</a> yourself</li>
</ol>
<h2>Learn more</h2>
<p>Use the menu to learn more about the <a href="/keys" title="View keys">keys</a>, <a href="/commands" title="View commands">commands</a> and how you can <a href="/config"
        title="Learn about config">configure</a> it.</p>
{{end}}
