{{define "content"}}<h2>Commands</h2>
<p>Here is a list of commands you can use in tut. They are all prefixed with :
as you have to press : to enter command mode.</p>
<ul class="nolist">
    <li><span class="highlight">:q :quit</span> exit</li>
    <li><span class="highlight">:timeline</span> home, local, federated, direct, notifications, favorited</li>
    <li><span class="highlight">:tl</span> h, l, f, d, n, fav (shorter form)</li>
    <li><span class="highlight">:blocking</span> lists users that you have blocked</li>
    <li><span class="highlight">:boosts</span> lists users that boosted the toot</li>
    <li><span class="highlight">:bookmarks</span> lists all your bookmarks</li>
    <li><span class="highlight">:compose</span> compose a new toot</li>
    <li><span class="highlight">:favorited</span> lists toots you've favorited</li>
    <li><span class="highlight">:favorites</span> lists users that favorited the toot</li>
    <li><span class="highlight">:h :help</span> show help</li>
    <li><span class="highlight">:lists</span> show a list of your lists</li>
    <li><span class="highlight">:list-placement</span> top, right, bottom, left</li>
    <li><span class="highlight">:list-split</span> row, column</li>
    <li><span class="highlight">:muting</span> lists users that you have muted</li>
    <li><span class="highlight">:newer</span> force load newer toots in current timeline</li>
    <li><span class="highlight">:preferences</span> update your profile and some other settings</li>
    <li><span class="highlight">:profile</span> go to your profile</li>
    <li><span class="highlight">:proportions</span> [int] [int], where the first integer is the list and the other content, e.g. :proportions 1 3</li>
    <li><span class="highlight">:requests</span> see following requests</li>
    <li><span class="highlight">:saved</span> alias for bookmarks</li>
    <li><span class="highlight">:tag</span> followed by the hashtag e.g. :tag linux</li>
    <li><span class="highlight">:user</span> followed by a username e.g. :user rasmus to narrow a search include the instance like this :user rasmus@mastodon.acc.sunet.se</li>
    <li><span class="highlight">:window</span> switch window by index (zero indexed) e.g. :window 0 for the first window</li>
</ul>
{{end}}
