{{define "content"}}<h2>Config</h2>
<p>Tut is configurable, so you can change things like the colors, the default timeline, 
what image viewer to use and some more.</span>

<p>You find it in <span class="highlight">XDG_CONFIG_HOME/tut/config.ini</span> which usally equals to <span class="highlight">~/.config/tut/config.ini.</span></p>

<p>In the git-repo you can find a <a href="https://github.com/RasmusLindroth/tut/blob/master/config.example.ini" title="example.config.ini" rel="noopener">example.config.ini</a>.
It contains the default values. And can be good to look at for reference.</p>

<h2>General config</h2>
<p>Section <span class="highlight">[general]</span> in your config</p>
<p><span class="conf" id="confirmation">confirmation</span></p>
<p>Shows a confirmation view before actions such as favorite, delete toot, boost etc.</p>
<p>default=true</p>
<p><span class="conf" id="mouse-support">mouse-support</span></p>
<p>Enable support for using the mouse in tut to select items.</p>
<p>default=false</p>
<p><span class="conf" id="timelines">timelines</span></p>
<p>Timelines adds windows of feeds. You can customize the number of feeds, what they should show and the key to activate them.</p>
<p></p>
<p>Available timelines: home, direct, local, federated, bookmarks, saved, favorited, notifications, lists, tag</p>
<p></p>
<p>Tag is special as you need to add the tag after, see the example below.</p>
<p></p>
<p>The syntax is:</p>
<p>timelines=feed,[name],[keys...],[showBoosts],[showReplies]</p>
<p></p>
<p>Tha values in brackets are optional. You can see the syntax for keys under the [input] section.</p>
<p></p>
<p>showBoosts and showReplies must be formated as bools. So either true or false. They always defaults to true.</p>
<p></p>
<p>Some examples:</p>
<p></p>
<p>home timeline with the name Home</p>
<p>timelines=home,Home</p>
<p></p>
<p>local timeline with the name Local and it gets focus when you press 2. It will also hide boosts in the timeline, but show toots that are replies.</p>
<p>timelines=local,Local,'2',false,true</p>
<p></p>
<p>notification timeline with the name [N]otifications and it gets focus when you press n or N</p>
<p>timelines=notifications,[N]otifications,'n','N'</p>
<p></p>
<p>tag timeline for #linux with the name Linux and it gets focus when you press</p>
<p>timelines=tag linux,Linux,"F2"</p>
<p></p>
<p></p>
<p>If you don't set any timelines it will default to this:</p>
<p>timelines=home</p>
<p>timelines=notifications,[N]otifications,'n','N'</p>
<p></p>
<p><span class="conf" id="date-format">date-format</span></p>
<p>The date format to be used. See <a href="https://godoc.org/time#Time.Format" title="Go Time.Format" rel="noopener">Go time#Time.Format</a></p>
<p>default=2006-01-02 15:04</p>
<p><span class="conf" id="date-today-format">date-today-format</span></p>
<p>Format for dates the same day. See <a href="#date-format" title="date-format">date-format</a> for more info.</p>
<p>default=15:04</p>
<p><span class="conf" id="date-relative">date-relative</span></p>
<p>This displays relative dates instead for statuses that are one day or older the output is 1y2m1d (1 year 2 months and 1 day)</p>
<p></p>
<p>The value is an integear</p>
<p>-1     = don't use relative dates</p>
<p> 0     = always use relative dates, except for dates < 1 day</p>
<p> 1 - ∞ = number of days to use relative dates</p>
<p></p>
<p>Example: date-relative=28 will display a relative date for toots that are between 1-28 days old. Otherwhise it will use the short or long format.</p>
<p>default=-1</p>
<p><span class="conf" id="max-width">max-width</span></p>
<p>The max width of text before it wraps when displaying toots.</p>
<p>0 = no restriction.</p>
<p>default=0</p>
<p><span class="conf" id="list-placement">list-placement</span></p>
<p>Where do you want the list of toots to be placed?</p>
<p>Valid values: left, right, top, bottom.</p>
<p>default=left</p>
<p><span class="conf" id="list-split">list-split</span></p>
<p>If you have <a href="#notification-feed" title="notification-feed">notification-feed</a> set to true you can display it under the main list of toots (row) or place it to the right of the main list of toots (column).</p>
<p>default=row</p>
<p><span class="conf" id="list-proportion">list-proportion</span></p>
<p>You can change the proportions of the list view in relation to the content view list-proportion=1 and content-proportoin=3 will result in the content taking up 3 times more space.</p>
<p>Must be n > 0</p>
<p>default=1</p>
<p><span class="conf" id="content-proportion">content-proportion</span></p>
<p>See <a href="#list-proportion" title="list-proportion">list-proportion</a> for more info</p>
<p>default=2</p>
<p><span class="conf" id="notifications-to-hide">notifications-to-hide</span></p>
<p>Hide notifications of this type. If you have multiple you separate them with a comma. Valid types: mention, status, boost, follow, follow_request, favorite, poll, edit.</p>
<p><span class="conf" id="quote-reply">quote-reply</span></p>
<p>If you always want to quote original message when replying.</p>
<p>default=false</p>
<p><span class="conf" id="char-limit">char-limit</span></p>
<p>If you're on an instance with a custom character limit you can set it here.</p>
<p>default=500</p>
<p><span class="conf" id="show-icons">show-icons</span></p>
<p>If you want to show icons in the list of toots.</p>
<p>default=true</p>
<p><span class="conf" id="short-hints">short-hints</span></p>
<p>If you've learnt all the shortcut keys you can remove the help text and only show the key in tui. So it gets less cluttered.</p>
<p>default=false</p>
<p><span class="conf" id="show-filter-phrase">show-filter-phrase</span></p>
<p>If you want to display the filter that filtered a toot.</p>
<p>default=true</p>
<p><span class="conf" id="show-help">show-help</span></p>
<p>If you want to show a message in the cmdbar on how to access the help text.</p>
<p>default=true</p>
<p><span class="conf" id="stick-to-top">stick-to-top</span></p>
<p>If you always want tut to jump to the newest post. May ruin your reading experience.</p>
<p>default=false</p>
<p><span class="conf" id="terminal-title">terminal-title</span></p>
<p>0 = No terminal title</p>
<p>1 = Show title in terminal and top bar</p>
<p>2 = Only show terminal title, and no top bar in tut.</p>
<p>default=0</p>
<p><span class="conf" id="redraw-ui">redraw-ui</span></p>
<p>If you don't want the whole UI to update, and only the text content you can set this option to true. This will lead to some artifacts being left on the screen when emojis are present. But it will keep the UI from flashing on every single toot in some terminals.</p>
<p>default=true</p>
<p><span class="conf" id="leader-key">leader-key</span></p>
<p>The leader is used as a shortcut to run commands as you can do in Vim. By default this is disabled and you enable it by setting a leader-key. It can only consist of one char and I like to use comma as leader key. So to set it you write leader-key=,</p>
<p><span class="conf" id="leader-timeout">leader-timeout</span></p>
<p>Number of milliseconds before the leader command resets. So if you tap the leader-key by mistake or are to slow it empties all the input after X milliseconds.</p>
<p>default=1000</p>
<p><span class="conf" id="leader-action">leader-action</span></p>
<p>You set actions for the leader-key with one or more leader-action. It consists of two parts first the action then the shortcut. And they're separated by a comma.</p>
<p></p>
<p>Available commands: home, direct, local, federated, clear-notifications, compose, edit, history, blocking, bookmarks, saved, favorited, boosts, favorites, following, followers, muting, newer, preferences, profile, notifications, lists, stick-to-top, tag, tags, window, list-placement, list-split, proportions</p>
<p></p>
<p>The shortcuts are up to you, but keep them quite short and make sure they don't collide. If you have one shortcut that is "f" and an other one that is "fav", the one with "f" will always run and "fav" will never run. </p>
<p></p>
<p>Some special leaders:</p>
<p>tag is special as you need to add the tag after, e.g. tag linux</p>
<p>window is special as it's a shortcut for switching between the timelines you've set under general and they are zero indexed. window 0 = your first timeline, window 1 = your second and so on.</p>
<p>list-placement as it takes the argument top, right, bottom or left</p>
<p>list-split as it takes the argument column or row</p>
<p>proportions takes the arguments [int] [int], where the first integer is the list and the other content, e.g. proportions 1 3. See list-proportion above for more information.</p>
<p></p>
<p>Some examples:</p>
<p>leader-action=local,lo</p>
<p>leader-action=lists,li</p>
<p>leader-action=federated,fed</p>
<p>leader-action=direct,d</p>
<p>leader-action=history,h</p>
<p>leader-action=tag linux,tl</p>
<p>leader-action=window 0,h</p>
<p>leader-action=list-placement bottom,b</p>
<p>leader-action=list-split column,c</p>
<p>leader-action=proportions 1 3,3</p>
<p></p>
<h2>Media config</h2>
<p>Section <span class="highlight">[media]</span> in your config</p>
<p><span class="conf" id="image-viewer">image-viewer</span></p>
<p>Your image viewer.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="image-terminal">image-terminal</span></p>
<p>Open the image viewer in the same terminal as toot. Only for terminal based viewers.</p>
<p>default=false</p>
<p><span class="conf" id="image-single">image-single</span></p>
<p>If images should open one by one e.g. "imv image.png" multiple times. If set to false all images will open at the same time like this "imv image1.png image2.png image3.png". Not all image viewers support this, so try it first.</p>
<p>default=true</p>
<p><span class="conf" id="image-reverse">image-reverse</span></p>
<p>If you want to open the images in reverse order. In some image viewers this will display the images in the "right" order.</p>
<p>default=false</p>
<p><span class="conf" id="video-viewer">video-viewer</span></p>
<p>Your video viewer.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="video-terminal">video-terminal</span></p>
<p>Open the video viewer in the same terminal as toot. Only for terminal based viewers.</p>
<p>default=false</p>
<p><span class="conf" id="video-single">video-single</span></p>
<p>If videos should open one by one. See <a href="#image-single" title="image-single">image-single</a>.</p>
<p>default=true</p>
<p><span class="conf" id="video-reverse">video-reverse</span></p>
<p>If you want your videos in reverse order. In some video apps this will play the files in the "right" order.</p>
<p>default=false</p>
<p><span class="conf" id="audio-viewer">audio-viewer</span></p>
<p>Your audio viewer.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="audio-terminal">audio-terminal</span></p>
<p>Open the audio viewer in the same terminal as toot. Only for terminal based viewers.</p>
<p>default=false</p>
<p><span class="conf" id="audio-single">audio-single</span></p>
<p>If audio should open one by one. See <a href="#image-single" title="image-single">image-single</a>.</p>
<p>default=true</p>
<p><span class="conf" id="audio-reverse">audio-reverse</span></p>
<p>If you want to play the audio files in reverse order. In some audio apps this will play the files in the "right" order.</p>
<p>default=false</p>
<p><span class="conf" id="link-viewer">link-viewer</span></p>
<p>Your web browser.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="link-terminal">link-terminal</span></p>
<p>Open the browser in the same terminal as toot. Only for terminal based browsers.</p>
<p>default=false</p>
<h2>Open-Custom config</h2>
<p>Section <span class="highlight">[open-custom]</span> in your config</p>
<p>This sections allows you to set up to five custom programs to open URLs with. If the url points to an image, you can set c1-name to img and c1-use to imv. If the program runs in a terminal and you want to run it in the same terminal as tut. Set cX-terminal to true. The name will show up in the UI, so keep it short so all five fits.</p>
<p>c1-name=name</p>
<p>c1-use=program</p>
<p>c1-terminal=false</p>
<p>c2-name=name</p>
<p>c2-use=program</p>
<p>c2-terminal=false</p>
<p>c3-name=name</p>
<p>c3-use=program</p>
<p>c3-terminal=false</p>
<p>c4-name=name</p>
<p>c4-use=program</p>
<p>c4-terminal=false</p>
<p>c5-name=name</p>
<p>c5-use=program</p>
<p>c5-terminal=false</p>

<h2>Open-Pattern config</h2>
<p>Section <span class="highlight">[open-pattern]</span> in your config</p>
<p>Here you can set your own glob patterns for opening matching URLs in the program you want them to open up in. You could for example open Youtube videos in your video player instead of your default browser.</p>
<p>You must name the keys foo-pattern, foo-use and foo-terminal, where use is the program that will open up the URL. To see the syntax for glob pattern you can follow this URL <a href="https://github.com/gobwas/glob#syntax" rel="noopener" title"gobwas/glob#syntax">https://github.com/gobwas/glob#syntax</a>. foo-terminal is if the program runs in the terminal and should open in the same terminal as tut itself.</p>
<p>Example for youtube.com and youtu.be to open up in mpv instead of the browser.</p>
<p>y1-pattern=*youtube.com/watch*</p>
<p>y1-use=mpv</p>
<p>y1-terminal=false</p>
<p>y2-pattern=*youtu.be/*</p>
<p>y2-use=mpv</p>
<p>y2-terminal=false</p>

<h2>Desktop-Notification config</h2>
<p>Section <span class="highlight">[desktop-notification]</span> in your config</p>
<p><span class="conf" id="followers">followers</span></p>
<p>Notification when someone follows you.</p>
<p>default=false</p>
<p><span class="conf" id="favorite">favorite</span></p>
<p>Notification when someone favorites one of your toots.</p>
<p>default=false</p>
<p><span class="conf" id="mention">mention</span></p>
<p>Notification when someone mentions you.</p>
<p>default=false</p>
<p><span class="conf" id="update">update</span></p>
<p>Notification when someone edits their toot.</p>
<p>default=false</p>
<p><span class="conf" id="boost">boost</span></p>
<p>Notification when someone boosts one of your toots.</p>
<p>default=false</p>
<p><span class="conf" id="poll">poll</span></p>
<p>Notification of poll results.</p>
<p>default=false</p>
<p><span class="conf" id="posts">posts</span></p>
<p>Notification when there is new posts in current timeline.</p>
<p>default=false</p>
<h2>Style config</h2>
<p>Section <span class="highlight">[style]</span> in your config</p>
<p>All styles can be represented in their HEX value like #ffffff or with their name, so in this case white. The only special value is "default" which equals to transparent, so it will be the same color as your terminal.</p>
<p>You can also use xrdb colors like this xrdb:color1 The program will use colors prefixed with an * first then look for URxvt or XTerm if it can't find any color prefixed with an asterisk. If you don't want tut to guess the prefix you can set the prefix yourself. If the xrdb color can't be found a preset color will be used. You'll have to set theme=none for this to work.</p>

<p><span class="conf" id="xrdb-prefix">xrdb-prefix</span></p>
<p>The xrdb prefix used for colors in .Xresources.</p>
<p>default=guess</p>
<p><span class="conf" id="theme">theme</span></p>
<p>You can use some themes that comes bundled with tut. Check out the themes available on the URL below. If a theme is named "nord.ini" you just write theme=nord</p>
<p></p>
<p><a href="https://github.com/RasmusLindroth/tut/tree/master/config/themes" title="themes for tut" rel="noopener">./tut/config/themes</a></p>
<p></p>
<p>You can also create a theme file in your config directory e.g. ~/.config/tut/themes/foo.ini and then set theme=foo.</p>
<p></p>
<p>If you want to use your own theme but don't want to create a new file, set theme=none and then you can create your own theme below.</p>
<p>default=default</p>
<p><span class="conf" id="background">background</span></p>
<p>The background color used on most elements.</p>
<p><span class="conf" id="text">text</span></p>
<p>The text color used on most of the text.</p>
<p><span class="conf" id="subtle">subtle</span></p>
<p>The color to display subtle elements or subtle text. Like lines and help text.</p>
<p><span class="conf" id="warning-text">warning-text</span></p>
<p>The color for errors or warnings</p>
<p><span class="conf" id="text-special-one">text-special-one</span></p>
<p>This color is used to display username.</p>
<p><span class="conf" id="text-special-two">text-special-two</span></p>
<p>This color is used to display username and key hints.</p>
<p><span class="conf" id="top-bar-background">top-bar-background</span></p>
<p>The color of the bar at the top</p>
<p><span class="conf" id="top-bar-text">top-bar-text</span></p>
<p>The color of the text in the bar at the top.</p>
<p><span class="conf" id="status-bar-background">status-bar-background</span></p>
<p>The color of the bar at the bottom</p>
<p><span class="conf" id="status-bar-text">status-bar-text</span></p>
<p>The color of the text in the bar at the bottom.</p>
<p><span class="conf" id="status-bar-view-background">status-bar-view-background</span></p>
<p>The color of the bar at the bottom in view mode.</p>
<p><span class="conf" id="status-bar-view-text">status-bar-view-text</span></p>
<p>The color of the text in the bar at the bottom in view mode.</p>
<p><span class="conf" id="command-text">command-text</span></p>
<p>The color of the text in the command bar at the bottom.</p>
<p><span class="conf" id="list-selected-background">list-selected-background</span></p>
<p>Background of selected list items.</p>
<p><span class="conf" id="list-selected-text">list-selected-text</span></p>
<p>The text color of selected list items.</p>
<p><span class="conf" id="list-selected-inactive-background">list-selected-inactive-background</span></p>
<p>The background color of selected list items that are out of focus.</p>
<p><span class="conf" id="list-selected-inactive-text">list-selected-inactive-text</span></p>
<p>The text color of selected list items that are out of focus.</p>
<p><span class="conf" id="controls-text">controls-text</span></p>
<p>The main color of the text for key hints</p>
<p><span class="conf" id="controls-highlight">controls-highlight</span></p>
<p>The highlight color of for key hints</p>
<p><span class="conf" id="autocomplete-background">autocomplete-background</span></p>
<p>The background color in dropdowns and autocompletions</p>
<p><span class="conf" id="autocomplete-text">autocomplete-text</span></p>
<p>The text color in dropdowns at autocompletions</p>
<p><span class="conf" id="autocomplete-selected-background">autocomplete-selected-background</span></p>
<p>The background color for selected value in dropdowns and autocompletions</p>
<p><span class="conf" id="autocomplete-selected-text">autocomplete-selected-text</span></p>
<p>The text color for selected value in dropdowns and autocompletions</p>
<p><span class="conf" id="button-color-one">button-color-one</span></p>
<p>The background color on selected button and the text color of unselected buttons</p>
<p><span class="conf" id="button-color-two">button-color-two</span></p>
<p>The text color on selected button and the background color of unselected buttons</p>
<p><span class="conf" id="timeline-name-background">timeline-name-background</span></p>
<p>The background on named timelines.</p>
<p><span class="conf" id="timeline-name-text">timeline-name-text</span></p>
<p>The text color on named timelines</p>
<h2>Input config</h2>
<p>Section <span class="highlight">[input]</span> in your config</p>
<p>You can edit the keys for tut below.</p>
<p>The syntax is a bit weird, but it works. And I'll try to explain it as well as I can.</p>
<p>Example:</p>
<p>status-favorite="[F]avorite","Un[F]avorite",'f','F'</p>
<p>status-delete="[D]elete",'d','D'</p>
<p>status-favorite and status-delete differs because favorite can be in two states, so you will have to add two key hints.</p>
<p>Most keys will only have on key hint. Look at the default value for reference.</p>
<p>Key hints must be in some of the following formats. Remember the quotation marks.</p>
<p>"" = empty</p>
<p>"[D]elete" = Delete with a highlighted D</p>
<p>"Un[F]ollow" = UnFollow with a highlighted F</p>
<p>"[Enter]" = Enter where everything is highlighted</p>
<p>"Yan[K]" = YanK with a highlighted K</p>
<p>After the hint (or hints) you must set the keys. You can do this in two ways, with single quotation marks or double ones.</p>
<p>The single ones are for single chars like 'a', 'b', 'c' and double marks are for special keys like "Enter". Remember that they are case sensitive.</p>
<p>To find the names of special keys you have to go to the following site and look for "var KeyNames = map[Key]string{"</p>
<p><a href="https://github.com/gdamore/tcell/blob/master/key.go" title="Special keys from tcell" rel="noopener">gdamore/tcell/key.go</a>.</p>

<p><span class="conf" id="global-down">global-down</span></p>
<p>Keys for moving down</p>
<p>default="",'j','J',"Down"</p>
<p><span class="conf" id="global-up">global-up</span></p>
<p>Keys for moving up</p>
<p>default="",'k','K',"Up"</p>
<p><span class="conf" id="global-enter">global-enter</span></p>
<p>To select items</p>
<p>default="","Enter"</p>
<p><span class="conf" id="global-back">global-back</span></p>
<p>To go back</p>
<p>default="[Esc]","Esc"</p>
<p><span class="conf" id="global-exit">global-exit</span></p>
<p>To go back and exit Tut</p>
<p>default="[Q]uit",'q','Q'</p>
<p><span class="conf" id="main-home">main-home</span></p>
<p>Move to the top</p>
<p>default="",'g',"Home"</p>
<p><span class="conf" id="main-end">main-end</span></p>
<p>Move to the bottom</p>
<p>default="",'G',"End"</p>
<p><span class="conf" id="main-prev-feed">main-prev-feed</span></p>
<p>Go to previous feed</p>
<p>default="",'h','H',"Left"</p>
<p><span class="conf" id="main-next-feed">main-next-feed</span></p>
<p>Go to next feed</p>
<p>default="",'l','L',"Right"</p>
<p><span class="conf" id="main-prev-window">main-prev-window</span></p>
<p>Focus on the previous feed window</p>
<p>default="","Backtab"</p>
<p><span class="conf" id="main-next-window">main-next-window</span></p>
<p>Focus on the next feed window</p>
<p>default="","Tab"</p>
<p><span class="conf" id="main-notification-focus">main-notification-focus</span></p>
<p>Focus on the notification list</p>
<p>default="[N]otifications",'n','N'</p>
<p><span class="conf" id="main-compose">main-compose</span></p>
<p>Compose a new toot</p>
<p>default="",'c','C'</p>
<p><span class="conf" id="status-avatar">status-avatar</span></p>
<p>Open avatar</p>
<p>default="[A]vatar",'a','A'</p>
<p><span class="conf" id="status-boost">status-boost</span></p>
<p>Boost a toot</p>
<p>default="[B]oost","Un[B]oost",'b','B'</p>
<p><span class="conf" id="status-edit">status-edit</span></p>
<p>Edit a toot</p>
<p>default="[E]dit",'e','E'</p>
<p><span class="conf" id="status-delete">status-delete</span></p>
<p>Delete a toot</p>
<p>default="[D]elete",'d','D'</p>
<p><span class="conf" id="status-favorite">status-favorite</span></p>
<p>Favorite a toot</p>
<p>default="[F]avorite","Un[F]avorite",'f','F'</p>
<p><span class="conf" id="status-media">status-media</span></p>
<p>Open toots media files</p>
<p>default="[M]edia",'m','M'</p>
<p><span class="conf" id="status-links">status-links</span></p>
<p>Open links</p>
<p>default="[O]pen",'o','O'</p>
<p><span class="conf" id="status-poll">status-poll</span></p>
<p>Open poll</p>
<p>default="[P]oll",'p','P'</p>
<p><span class="conf" id="status-reply">status-reply</span></p>
<p>Reply to toot</p>
<p>default="[R]eply",'r','R'</p>
<p><span class="conf" id="status-bookmark">status-bookmark</span></p>
<p>Save/bookmark a toot</p>
<p>default="[S]ave","Un[S]ave",'s','S'</p>
<p><span class="conf" id="status-thread">status-thread</span></p>
<p>View thread</p>
<p>default="[T]hread",'t','T'</p>
<p><span class="conf" id="status-user">status-user</span></p>
<p>Open user profile</p>
<p>default="[U]ser",'u','U'</p>
<p><span class="conf" id="status-view-focus">status-view-focus</span></p>
<p>Open the view mode</p>
<p>default="[V]iew",'v','V'</p>
<p><span class="conf" id="status-yank">status-yank</span></p>
<p>Yank the url of the toot</p>
<p>default="[Y]ank",'y','Y'</p>
<p><span class="conf" id="status-toggle-spoiler">status-toggle-spoiler</span></p>
<p>Remove the spoiler</p>
<p>default="Press [Z] to toggle spoiler",'z','Z'</p>
<p><span class="conf" id="user-avatar">user-avatar</span></p>
<p>View avatar</p>
<p>default="[A]vatar",'a','A'</p>
<p><span class="conf" id="user-block">user-block</span></p>
<p>Block the user</p>
<p>default="[B]lock","Un[B]lock",'b','B'</p>
<p><span class="conf" id="user-follow">user-follow</span></p>
<p>Follow user</p>
<p>default="[F]ollow","Un[F]ollow",'f','F'</p>
<p><span class="conf" id="user-follow-request-decide">user-follow-request-decide</span></p>
<p>Follow user</p>
<p>default="Follow [R]equest","Follow [R]equest",'r','R'</p>
<p><span class="conf" id="user-mute">user-mute</span></p>
<p>Mute user</p>
<p>default="[M]ute","Un[M]ute",'m','M'</p>
<p><span class="conf" id="user-links">user-links</span></p>
<p>Open links</p>
<p>default="[O]pen",'o','O'</p>
<p><span class="conf" id="user-user">user-user</span></p>
<p>View user profile</p>
<p>default="[U]ser",'u','U'</p>
<p><span class="conf" id="user-view-focus">user-view-focus</span></p>
<p>Open view mode</p>
<p>default="[V]iew",'v','V'</p>
<p><span class="conf" id="user-yank">user-yank</span></p>
<p>Yank the user URL</p>
<p>default="[Y]ank",'y','Y'</p>
<p><span class="conf" id="list-open-feed">list-open-feed</span></p>
<p>Open list</p>
<p>default="[O]pen",'o','O'</p>
<p><span class="conf" id="list-user-list">list-user-list</span></p>
<p>List all users in a list</p>
<p>default="[U]sers",'u','U'</p>
<p><span class="conf" id="list-user-add">list-user-add</span></p>
<p>Add user to list</p>
<p>default="[A]dd",'a','A'</p>
<p><span class="conf" id="list-user-delete">list-user-delete</span></p>
<p>Delete user from list</p>
<p>default="[D]elete",'d','D'</p>
<p><span class="conf" id="link-open">link-open</span></p>
<p>Open URL</p>
<p>default="[O]pen",'o','O'</p>
<p><span class="conf" id="link-yank">link-yank</span></p>
<p>Yank the URL</p>
<p>default="[Y]ank",'y','Y'</p>
<p><span class="conf" id="tag-open-feed">tag-open-feed</span></p>
<p>Open tag feed</p>
<p>default="[O]pen",'o','O'</p>
<p><span class="conf" id="tag-follow">tag-follow</span></p>
<p>Toggle follow on tag</p>
<p>default="[F]ollow","Un[F]ollow",'f','F'</p>
<p><span class="conf" id="compose-edit-spoiler">compose-edit-spoiler</span></p>
<p>Edit spoiler text on new toot</p>
<p>default="[C]W text",'c','C'</p>
<p><span class="conf" id="compose-edit-text">compose-edit-text</span></p>
<p>Edit the text on new toot</p>
<p>default="[E]dit text",'e','E'</p>
<p><span class="conf" id="compose-include-quote">compose-include-quote</span></p>
<p>Include a quote when replying</p>
<p>default="[I]nclude quote",'i','I'</p>
<p><span class="conf" id="compose-media-focus">compose-media-focus</span></p>
<p>Focus on adding media to toot</p>
<p>default="[M]edia",'m','M'</p>
<p><span class="conf" id="compose-post">compose-post</span></p>
<p>Post the new toot</p>
<p>default="[P]ost",'p','P'</p>
<p><span class="conf" id="compose-toggle-content-warning">compose-toggle-content-warning</span></p>
<p>Toggle content warning on toot</p>
<p>default="[T]oggle CW",'t','T'</p>
<p><span class="conf" id="compose-visibility">compose-visibility</span></p>
<p>Edit the visibility on new toot</p>
<p>default="[V]isibility",'v','V'</p>
<p><span class="conf" id="compose-language">compose-language</span></p>
<p>Edit the language of a toot</p>
<p>default="[L]ang",'l','L'</p>
<p><span class="conf" id="compose-poll">compose-poll</span></p>
<p>Switch to creating a poll</p>
<p>default="P[O]ll",'o','O'</p>
<p><span class="conf" id="media-delete">media-delete</span></p>
<p>Delete media file</p>
<p>default="[D]elete",'d','D'</p>
<p><span class="conf" id="media-edit-desc">media-edit-desc</span></p>
<p>Edit the description on media file</p>
<p>default="[E]dit desc",'e','E'</p>
<p><span class="conf" id="media-add">media-add</span></p>
<p>Add a new media file</p>
<p>default="[A]dd",'a','A'</p>
<p><span class="conf" id="vote-vote">vote-vote</span></p>
<p>Vote on poll</p>
<p>default="[V]ote",'v','V'</p>
<p><span class="conf" id="vote-select">vote-select</span></p>
<p>Select item to vote on</p>
<p>default="[Enter] to select",' ', "Enter"</p>
<p><span class="conf" id="poll-add">poll-add</span></p>
<p>Add a new poll option</p>
<p>default="[A]dd",'a','A'</p>
<p><span class="conf" id="poll-edit">poll-edit</span></p>
<p>Edit a poll option</p>
<p>default="[E]dit",'e','E'</p>
<p><span class="conf" id="poll-delete">poll-delete</span></p>
<p>Delete a poll option</p>
<p>default="[D]elete",'d','D'</p>
<p><span class="conf" id="poll-multi-toggle">poll-multi-toggle</span></p>
<p>Toggle voting on multiple options</p>
<p>default="Toggle [M]ultiple",'m','M'</p>
<p><span class="conf" id="poll-expiration">poll-expiration</span></p>
<p>Change the expiration of poll</p>
<p>default="E[X]pires",'x','X'</p>
<p><span class="conf" id="preference-name">preference-name</span></p>
<p>Change display name</p>
<p>default="[N]ame",'n','N'</p>
<p><span class="conf" id="preference-visibility">preference-visibility</span></p>
<p>Change default visibility of toots</p>
<p>default="[V]isibility",'v','V'</p>
<p><span class="conf" id="preference-bio">preference-bio</span></p>
<p>Change bio in profile</p>
<p>default="[B]io",'b','B'</p>
<p><span class="conf" id="preference-save">preference-save</span></p>
<p>Save your preferences</p>
<p>default="[S]ave",'s','S'</p>
<p><span class="conf" id="preference-fields">preference-fields</span></p>
<p>Edit profile fields</p>
<p>default="[F]ields",'f','F'</p>
<p><span class="conf" id="preference-fields-add">preference-fields-add</span></p>
<p>Add new field</p>
<p>default="[A]dd",'a','A'</p>
<p><span class="conf" id="preference-fields-edit">preference-fields-edit</span></p>
<p>Edit current field</p>
<p>default="[E]dit",'e','E'</p>
<p><span class="conf" id="preference-fields-delete">preference-fields-delete</span></p>
<p>Delete current field</p>
<p>default="[D]elete",'d','D'</p>
{{end}}
