{{define "content"}}<h2>Config</h2>
<p>Tut is configurable, so you can change things like the colors, the default timeline, 
what image viewer to use and some more.</span>

<p>You find it in <span class="highlight">XDG_CONFIG_HOME/tut/config.ini</span> which usally equals to <span class="highlight">~/.config/tut/config.ini.</span></p>

<p>In the git-repo you can find a <a href="https://github.com/RasmusLindroth/tut/blob/master/config.example.ini" title="example.config.ini" rel="noopener">example.config.ini</a>.
It contains the default values. And can be good to look at for reference.</p>

<p>Section <span class="highlight">[general]</span> in your config</p>
<p><span class="conf" id="confirmation">confirmation</span></p>
<p>Shows a confirmation view before actions such as favorite, delete toot, boost etc.</p>
<p>default=true</p>
<p><span class="conf" id="date-format">date-format</span></p>
<p>The date format to be used. See <a href="https://godoc.org/time#Time.Format" title="Go Time.Format" rel="noopener">Go time#Time.Format</a></p>
<p>default=2006-01-02 15:04</p>
<p><span class="conf" id="date-today-format">date-today-format</span></p>
<p>Format for dates the same day. See <a href="#date-format" title="date-format">date-format</a> for more info.</p>
<p>default=15:04</p>
<p><span class="conf" id="date-relative">date-relative</span></p>
<p>This displays relative dates instead for statuses that are one day or older the output is 1y2m1d (1 year 2 months and 1 day)</p>
<p></p>
<p>The value is an integear</p>
<p>-1     = don't use relative dates</p>
<p> 0     = always use relative dates, except for dates < 1 day</p>
<p> 1 - ∞ = number of days to use relative dates</p>
<p></p>
<p>Example: date-relative=28 will display a relative date for toots that are between 1-28 days old. Otherwhise it will use the short or long format.</p>
<p>default=-1</p>
<p><span class="conf" id="timeline">timeline</span></p>
<p>The timeline that opens up when you start tut.</p>
<p>Valid values: home, direct, local, federated</p>
<p>default=home</p>
<p><span class="conf" id="max-width">max-width</span></p>
<p>The max width of text before it wraps when displaying toots.</p>
<p>0 = no restriction.</p>
<p>default=0</p>
<p><span class="conf" id="notification-feed">notification-feed</span></p>
<p>If you want to display a list of notifications under your timeline feed.</p>
<p>default=true</p>
<p><span class="conf" id="list-placement">list-placement</span></p>
<p>Where do you want the list of toots to be placed?</p>
<p>Valid values: left, right, top, bottom.</p>
<p>default=left</p>
<p><span class="conf" id="list-split">list-split</span></p>
<p>If you have <a href="#notification-feed" title="notification-feed">notification-feed</a> set to true you can display it under the main list of toots (row) or place it to the right of the main list of toots (column).</p>
<p>default=row</p>
<p><span class="conf" id="hide-notification-text">hide-notification-text</span></p>
<p>Hide notification text above list in column split. It's displayed as [N]otifications.</p>
<p>default=false</p>
<p><span class="conf" id="list-proportion">list-proportion</span></p>
<p>You can change the proportions of the list view in relation to the content view list-proportion=1 and content-proportoin=3 will result in the content taking up 3 times more space.</p>
<p>Must be n > 0</p>
<p>default=1</p>
<p><span class="conf" id="content-proportion">content-proportion</span></p>
<p>See <a href="#list-proportion" title="list-proportion">list-proportion</a> for more info</p>
<p>default=2</p>
<p><span class="conf" id="quote-reply">quote-reply</span></p>
<p>If you always want to quote original message when replying.</p>
<p>default=false</p>
<p><span class="conf" id="char-limit">char-limit</span></p>
<p>If you're on an instance with a custom character limit you can set it here.</p>
<p>default=500</p>
<p><span class="conf" id="show-icons">show-icons</span></p>
<p>If you want to show icons in the list of toots.</p>
<p>default=true</p>
<p><span class="conf" id="short-hints">short-hints</span></p>
<p>If you've learnt all the shortcut keys you can remove the help text and only show the key in tui. So it gets less cluttered.</p>
<p>default=false</p>
<p><span class="conf" id="show-help">show-help</span></p>
<p>If you want to show a message in the cmdbar on how to access the help text.</p>
<p>default=true</p>
<p><span class="conf" id="redraw-ui">redraw-ui</span></p>
<p>If you don't want the whole UI to update, and only the text content you can set this option to true. This will lead to some artifacts being left on the screen when emojis are present. But it will keep the UI from flashing on every single toot in some terminals.</p>
<p>default=true</p>
<h2>Media config</h2>
<p>Section <span class="highlight">[media]</span> in your config</p>
<p><span class="conf" id="image-viewer">image-viewer</span></p>
<p>Your image viewer.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="image-terminal">image-terminal</span></p>
<p>Open the image viewer in the same terminal as toot. Only for terminal based viewers.</p>
<p>default=false</p>
<p><span class="conf" id="image-single">image-single</span></p>
<p>If images should open one by one e.g. "imv image.png" multiple times. If set to false all images will open at the same time like this "imv image1.png image2.png image3.png". Not all image viewers support this, so try it first.</p>
<p>default=true</p>
<p><span class="conf" id="image-reverse">image-reverse</span></p>
<p>If you want to open the images in reverse order. In some image viewers this will display the images in the "right" order.</p>
<p>default=false</p>
<p><span class="conf" id="video-viewer">video-viewer</span></p>
<p>Your video viewer.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="video-terminal">video-terminal</span></p>
<p>Open the video viewer in the same terminal as toot. Only for terminal based viewers.</p>
<p>default=false</p>
<p><span class="conf" id="video-single">video-single</span></p>
<p>If videos should open one by one. See <a href="#image-single" title="image-single">image-single</a>.</p>
<p>default=true</p>
<p><span class="conf" id="video-reverse">video-reverse</span></p>
<p>If you want your videos in reverse order. In some video apps this will play the files in the "right" order.</p>
<p>default=false</p>
<p><span class="conf" id="audio-viewer">audio-viewer</span></p>
<p>Your audio viewer.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="audio-terminal">audio-terminal</span></p>
<p>Open the audio viewer in the same terminal as toot. Only for terminal based viewers.</p>
<p>default=false</p>
<p><span class="conf" id="audio-single">audio-single</span></p>
<p>If audio should open one by one. See <a href="#image-single" title="image-single">image-single</a>.</p>
<p>default=true</p>
<p><span class="conf" id="audio-reverse">audio-reverse</span></p>
<p>If you want to play the audio files in reverse order. In some audio apps this will play the files in the "right" order.</p>
<p>default=false</p>
<p><span class="conf" id="link-viewer">link-viewer</span></p>
<p>Your web browser.</p>
<p>default=xdg-open</p>
<p><span class="conf" id="link-terminal">link-terminal</span></p>
<p>Open the browser in the same terminal as toot. Only for terminal based browsers.</p>
<p>default=false</p>
<h2>Open-Custom config</h2>
<p>Section <span class="highlight">[open-custom]</span> in your config</p>
<p>This sections allows you to set up to five custom programs to upen URLs with. If the url points to an image, you can set c1-name to img and c1-use to imv. If the program runs in a terminal and you want to run it in the same terminal as tut. Set cX-terminal to true. The name will show up in the UI, so keep it short so all five fits.</p>
<p>c1-name=name</p>
<p>c1-use=program</p>
<p>c1-terminal=false</p>
<p>c2-name=name</p>
<p>c2-use=program</p>
<p>c2-terminal=false</p>
<p>c3-name=name</p>
<p>c3-use=program</p>
<p>c3-terminal=false</p>
<p>c4-name=name</p>
<p>c4-use=program</p>
<p>c4-terminal=false</p>
<p>c5-name=name</p>
<p>c5-use=program</p>
<p>c5-terminal=false</p>

<h2>Open-Pattern config</h2>
<p>Section <span class="highlight">[open-pattern]</span> in your config</p>
<p>Here you can set your own glob patterns for opening matching URLs in the program you want them to open up in. You could for example open Youtube videos in your video player instead of your default browser.</p>
<p>You must name the keys foo-pattern, foo-use and foo-terminal, where use is the program that will open up the URL. To see the syntax for glob pattern you can follow this URL <a href="https://github.com/gobwas/glob#syntax" rel="noopener" title"gobwas/glob#syntax">https://github.com/gobwas/glob#syntax</a>. foo-terminal is if the program runs in the terminal and should open in the same terminal as tut itself.</p>
<p>Example for youtube.com and youtu.be to open up in mpv instead of the browser.</p>
<p>y1-pattern=*youtube.com/watch*</p>
<p>y1-use=mpv</p>
<p>y1-terminal=false</p>
<p>y2-pattern=*youtu.be/*</p>
<p>y2-use=mpv</p>
<p>y2-terminal=false</p>

<h2>Desktop-Notification config</h2>
<p>Section <span class="highlight">[desktop-notification]</span> in your config</p>
<p><span class="conf" id="followers">followers</span></p>
<p>Notification when someone follows you.</p>
<p>default=false</p>
<p><span class="conf" id="favorite">favorite</span></p>
<p>Notification when someone favorites one of your toots.</p>
<p>default=false</p>
<p><span class="conf" id="mention">mention</span></p>
<p>Notification when someone mentions you.</p>
<p>default=false</p>
<p><span class="conf" id="boost">boost</span></p>
<p>Notification when someone boosts one of your toots.</p>
<p>default=false</p>
<p><span class="conf" id="poll">poll</span></p>
<p>Notification of poll results.</p>
<p>default=false</p>
<p><span class="conf" id="posts">posts</span></p>
<p>Notification when there is new posts in current timeline.</p>
<p>default=false</p>
<h2>Style config</h2>
<p>Section <span class="highlight">[style]</span> in your config</p>
<p>All styles can be represented in their HEX value like #ffffff or with their name, so in this case white. The only special value is "default" which equals to transparent, so it will be the same color as your terminal.</p>
<p>You can also use xrdb colors like this xrdb:color1 The program will use colors prefixed with an * first then look for URxvt or XTerm if it can't find any color prefixed with an asterik. If you don't want tut to guess the prefix you can set the prefix yourself. If the xrdb color can't be found a preset color will be used. You'll have to set theme=none for this to work.</p>

<p><span class="conf" id="xrdb-prefix">xrdb-prefix</span></p>
<p>The xrdb prefix used for colors in .Xresources.</p>
<p>default=guess</p>
<p><span class="conf" id="theme">theme</span></p>
<p>You can use some themes that comes bundled with tut check out the themes available on the URL below. If a theme is named "nord.ini" you just write theme=nord</p>
<p></p>
<p><a href="https://github.com/RasmusLindroth/tut/tree/master/config/themes" title="themes for tut" rel="noopener">./tut/config/themes</a></p>
<p></p>
<p>If you want to use your own theme set theme to none then you can create your own theme below</p>
<p>default=default</p>
<p><span class="conf" id="background">background</span></p>
<p>The background color used on most elements.</p>
<p>default=xrdb:background</p>
<p><span class="conf" id="text">text</span></p>
<p>The text color used on most of the text.</p>
<p>default=xrdb:foreground</p>
<p><span class="conf" id="subtle">subtle</span></p>
<p>The color to display sublte elements or subtle text. Like lines and help text.</p>
<p>default=xrdb:color14</p>
<p><span class="conf" id="warning-text">warning-text</span></p>
<p>The color for errors or warnings</p>
<p>default=xrdb:color1</p>
<p><span class="conf" id="text-special-one">text-special-one</span></p>
<p>This color is used to display username.</p>
<p>default=xrdb:color5</p>
<p><span class="conf" id="text-special-two">text-special-two</span></p>
<p>This color is used to display username and key hints.</p>
<p>default=xrdb:color2</p>
<p><span class="conf" id="top-bar-background">top-bar-background</span></p>
<p>The color of the bar at the top</p>
<p>default=xrdb:color5</p>
<p><span class="conf" id="top-bar-text">top-bar-text</span></p>
<p>The color of the text in the bar at the top.</p>
<p>default=xrdb:background</p>
<p><span class="conf" id="status-bar-background">status-bar-background</span></p>
<p>The color of the bar at the bottom</p>
<p>default=xrdb:color5</p>
<p><span class="conf" id="status-bar-text">status-bar-text</span></p>
<p>The color of the text in the bar at the bottom.</p>
<p>default=xrdb:foreground</p>
<p><span class="conf" id="status-bar-view-background">status-bar-view-background</span></p>
<p>The color of the bar at the bottom in view mode.</p>
<p>default=xrdb:color4</p>
<p><span class="conf" id="status-bar-view-text">status-bar-view-text</span></p>
<p>The color of the text in the bar at the bottom in view mode.</p>
<p>default=xrdb:foreground</p>
<p><span class="conf" id="list-selected-background">list-selected-background</span></p>
<p>Background of selected list items.</p>
<p>default=xrdb:color5</p>
<p><span class="conf" id="list-selected-text">list-selected-text</span></p>
<p>The text color of selected list items.</p>
<p>default=xrdb:background</p>
{{end}}
