{{define "content"}}<h2>Contact</h2>
<p>The person beheind this project is Rasmus Lindroth.</p>
<p>You can contact me in the following ways:</p>
<ul>
    <li>E-mail - <a href="mailto:rasmus@lindroth.xyz" title="mail:rasmus@lindroth.xyz">rasmus@lindroth.xyz</a></li>
    <li>Mastodon - <a href="https://fosstodon.org/@tut" title="@tut@fosstodon.org" rel="noopener">@tut@fosstodon.org</a></li>
    <li>Mastodon - <a href="https://mastodon.acc.sunet.se/@rasmus" title="@rasmus@mastodon.acc.sunet.se" rel="noopener">@rasmus@mastodon.acc.sunet.se</a></li>
</ul>
{{end}}
