{{define "content"}}<h2>Flags</h2>
<p>Here is a list of flags you can use in tut.
You use them by adding them like this <span class="highlight">tut --new user</span></p>
<ul class="nolist">
    <li><span class="highlight">--new-user -n</span> = add one more user to tut</li>
    <li><span class="highlight">--user &lt;name&gt; -u &lt;name&gt;</span> = login directly to user named &lt;name&gt;</li>
    <ul class="nolist">
        <li>Don't use a = between --user and the &lt;name&gt;</li>
		<li>If two users are named the same. Use full name like tut@fosstodon.org</li>
    </ul>
    <li><span class="highlight">--help -h</span> = show help message</li>
    <li><span class="highlight">--version -v</span> = show version of tut</li>
</ul>
{{end}}
